.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

/* img.lazyload:not([src]) {
	visibility: hidden;
} */

@media only screen and (min-width: 767px) {
  html {
    overflow-y: scroll;
  }
}
